{% extends 'myapp/base.html' %}

{% block title %}Create a new Blog Post{% endblock %}

{% block content %}
  <h1>Create a new Blog Post</h1>
  
  <form action="{% url 'myapp:blogpost_create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if new_blogpost_form.non_field_errors %}
      <div class="form-error">
        {{ new_blogpost_form.non_field_errors }}
      </div>
    {% endif %}

    <div>
      <label for="id_title">Title:</label>
      {{ new_blogpost_form.title }}
      {% if new_blogpost_form.title.errors %}
      <div class="form-error">
        {{ new_blogpost_form.title.errors }}
      </div>
    {% endif %}
    </div>
                
    <div>
      <label for="id_content">Content:</label>
      {{ new_blogpost_form.content }}

      {% if new_blogpost_form.content.errors %}
        <div class="form-error">
          {{ new_blogpost_form.content.errors }}
        </div>
      {% endif %}
    </div>
      
    <div>
      <label for="id_image">Image:</label>
      {{ new_blogpost_form.image }}
      {% if new_blogpost_form.image.errors %}
        <div class="form-error">
          {{ new_blogpost_form.image.errors }}
        </div>
      {% endif %}
    </div>

    <input type="submit" value="Submit">
  </form>
    
{% endblock %}